# dependencies
node_modules

# build
dist

# env
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea

# os
.DS_Store
Thumbs.db

# debug
*.log

# typescript
*.tsbuildinfo

# tanstack router
src/routeTree.gen.ts
